name: Cl

on: workflow_dispatch

jobs:
  build:

    runs-on: windows-latest
    timeout-minutes: 9999

    steps:
    - name: Downloading important files.
      run: |
        Invoke-WebRequest https://bin.equinox.io/c/4VmDzA7iaHb/ngrok-stable-windows-amd64.zip -OutFile ngrok.zip
        Invoke-WebRequest https://raw.githubusercontent.com/exwitch/WSVM/main/files/start.bat -OutFile start.bat
        Invoke-WebRequest https://raw.githubusercontent.com/exwitch/WSVM/main/files/login.bat -OutFile login.bat
        Invoke-WebRequest https://raw.githubusercontent.com/exwitch/WSVM/main/files/wallpaper.png -OutFile wallpaper.bmp
        Invoke-WebRequest https://raw.githubusercontent.com/exwitch/WSVM/main/files/wallpaper.bat -OutFile wallpaper.bat
    - name: Extracting ngrok file.
      run: Expand-Archive ngrok.zip
    - name: Connecting to your ngrok account.
      run: .\ngrok\ngrok.exe authtoken $Env:NGROK_AUTH_TOKEN
      env:
        NGROK_AUTH_TOKEN: ${{ secrets.NGROK_AUTH_TOKEN }}
    - name: Activating your RDP access.
      run: | 
        Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server'-name "fDenyTSConnections" -Value 0
        Enable-NetFirewallRule -DisplayGroup "Remote Desktop"
        Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server\WinStations\RDP-Tcp' -name "UserAuthentication" -Value 1
        copy wallpaper.bmp D:\a\wallpaper.bmp
        copy wallpaper.bat D:\a\wallpaper.bat
    - name: Creating ngrok tunnel.
      run: Start-Process Powershell -ArgumentList '-Noexit -Command ".\ngrok\ngrok.exe tcp 3389"'
    - name: Connecting to RDP
      run: cmd /c start.bat
    - name: Fetching login information.
      run: cmd /c login.bat
    - name: RDP successfully created! | Windows Server 2019 by Exdeus Arch.
      run: | 
        Invoke-WebRequest https://github.com/exwitch/WSVM/raw/main/files/loop.ps1 -OutFile loop.ps1
        ./loop.ps1
